
<p>Self creation portal application</p>
<lib-header></lib-header>


<lib-card [list]="list"></lib-card>

<lib-search (searchEvent)="receiveSearchResults($event)" [maxLength]="150"></lib-search>

<mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      @for (topping of toppingList; track topping) {
        <mat-option [value]="topping">{{topping}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
@for(filter of filterData;track filter){
    <mat-form-field >
        <mat-label>{{filter.label}}</mat-label>
        <mat-select >
            @for(opt of filter.option;track opt){
          <mat-option >{{opt}}</mat-option>
            }
        </mat-select>
      </mat-form-field>
}
  


  